body {
  padding: 0;
  margin: 0;
  overflow: hidden; /* Prevent scrollbar */
  text-align: center; /* Center content of entire body */
}

#game-intro {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/space.jpg);
  background-size: cover; /* Cover the entire div */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-box {
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0); /* Transparent white background */
  border: 2px solid white;
  border-radius: 25px;
}

.middle-box h1 {
  color: white;
  font-size: 4em;
}

#start-button,
#restart-button {
  font-size: 2em;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0); /* Transparent white background */
}

#game-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(../images/space.jpg);
  background-size: cover; /* Cover the entire div */
  background-position: center;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-screen #score {
  height: 100px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 2em;
}

#game-screen #life {
  height: 100px;
  width: 50px;
  position: absolute;
  top: 120px;
  left: 0;
  color: white;
  font-size: 2em;
}

#game-end {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/space.jpg);
  background-size: cover; /* Cover the entire div */
  background-position: center;
  display: none;
  justify-content: center;
  align-items: center;
}

#game-end h3,
#game-end span {
  font-size: 1.5em;
  color: white;
  display: inline; /* Display H3 and span in one line */
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  .middle-box {
    width: 400px;
    height: 500px;
  }
  .middle-box h1 {
    font-size: 2.5em;
  }
  #start-button {
    font-size: 1.5em;
    padding: 5px 20px;
  }
}
